header {
	position: relative;
	padding: 10em 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-image: url("../img/bg.jpg");
	background-position-x: center;
	background-position-y: center;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-color: black;
	background-size: cover;
}

header .container {
	position: relative;
	z-index: 2;
	padding: 1em 3em;
}

header .overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

footer {
	padding: 3em;
}

.logo {
	width: 80%;
	margin: 1em 10%;
	padding-bottom: 1em;
}

section {
	padding: 4em 0;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.item-visu {
	padding: 1em 0;
}